<!--<mat-card class="register-component">-->
<!--  <div fxLayout="row | wrap" fxLayoutAlign="center center">-->
<!--    <div class="container">-->
<!--      <h1>Create your Account</h1>-->
<!--      <form (ngSubmit)="onSubmit()" #RegisterForm="ngForm">-->
<!--          <div>-->
<!--          <mat-form-field >-->
<!--            <mat-label>First Name</mat-label>-->
<!--            <input matInput type="text" name="FirstName"-->
<!--                   [(ngModel)]="registeredUser.FirstName"-->
<!--                   placeholder="Insert your FirstName" required/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-form-field >-->
<!--            <mat-label>Last Name</mat-label>-->
<!--            <input matInput placeholder="Insert your LastName"-->
<!--                   [(ngModel)]="registeredUser.LastName"-->
<!--                   pattern="[A-Za-z]+"-->
<!--                   name="lastname"-->
<!--                   required/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-form-field >-->
<!--            <mat-label>Email</mat-label>-->
<!--            <input matInput name="email"-->
<!--                   [(ngModel)]="registeredUser.Email"-->
<!--                   required/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-label>Username</mat-label>-->
<!--            <input matInput name="UserName"-->
<!--                   [(ngModel)]="registeredUser.UserName"-->
<!--                   required/>-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-label>Phonenumber</mat-label>-->
<!--            <input matInput name="Contact"-->
<!--                   [(ngModel)]="registeredUser.PhoneNumber"-->
<!--                   required/>-->
<!--          </mat-form-field>-->
<!--        </div>-->


<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input matInput type="password" name ="PassWord" [(ngModel)]="registeredUser.Password"-->
<!--                   minlength="5" required/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-label>Role</mat-label>-->
<!--            <mat-select name="RoleFromRegister"-->
<!--              [(ngModel)]="registeredUser.RoleFromRegister" required>-->
<!--              <mat-option *ngFor="let role of roles" [value]="role" >-->
<!--                {{role}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <button type="submit" mat-raised-button color="primary"-->
<!--                [disabled]="RegisterForm.invalid">-->
<!--          Register-->
<!--        </button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</mat-card>-->



<div mat-dialog-content>
  <button mat-raised-button class="custom-upload-button">
    <span>Upload Image</span>
    <input type="file" accept='image/*' [(ngModel)]="this.registeredUser.ImagePath" (change)="onUploadImage($event)" />
  </button>
  <span class="upload-file-name">{{uploadFileName}}</span>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input [(ngModel)]="this.registeredUser.UserName" required matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input [(ngModel)]="this.registeredUser.FirstName" required matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input [(ngModel)]="this.registeredUser.LastName" required matInput>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Email</mat-label>
    <input [(ngModel)]="this.registeredUser.Email" required matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input [(ngModel)]="this.registeredUser.Password"  type = "password" required matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input [(ngModel)]="this.registeredUser.PhoneNumber" required matInput>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="this.registeredUser.RoleFromRegister" required>
      <mat-option *ngFor="let role of this.roles" [value]="role">
        {{role}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSubmit()">Register
  </button>
</div>






