/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  padding: 0 !important;
}

.cdk-overlay-pane {
  max-width: 55vw !important;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.mat-card .container {
  width: auto;
}
