<h1 mat-dialog-title>{{jobData.id ? 'Edit' : 'Add'}} Job</h1>
<div mat-dialog-content>
  <button mat-raised-button class="custom-upload-button">
    <span>Upload Image</span>
    <input type="file" accept='image/*' [(ngModel)]="this.job.imagePath" (change)="onUploadImage($event)" />
  </button>
  <span class="upload-file-name">{{uploadFileName}}</span>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input [(ngModel)]="this.job.title" required matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="this.job.categoryId" required>
      <mat-option *ngFor="let category of this.jobData.categories" [value]="category.id">
        {{category.category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Type</mat-label>
    <mat-select [(ngModel)]="this.job.typeJobId" required>
      <mat-option *ngFor="let jobType of this.jobData.jobTypes" [value]="jobType.id">
        {{jobType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="this.job.cityId" required>
      <mat-option *ngFor="let city of this.jobData.cities" [value]="city.id">
        {{city.city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Salary</mat-label>
    <input [(ngModel)]="this.job.salary" type="number" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact</mat-label>
    <input required [(ngModel)]="this.job.contact" type="number" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [ngModel]="this.job.finishedOn" (dateChange)="addEvent($event)">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker [(ngModel)]="this.job.finishedOn" ngDefaultControl></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="jobData.id ? onJobEdit(job, jobData.id) : onJobAdd()">
    {{jobData.id ? 'Update' : 'Add'}} Job
  </button>
</div>
