<mat-nav-list>
  <mat-card-title>
    <p class=""></p>
  </mat-card-title>
  <a mat-list-item routerLink="jobs"><span class="material-icons" style="color: white">apps</span>Jobs</a>
  <a mat-list-item routerLink="profile" *ngIf="serviceAuth.isLoggedIn();">
    <span class="material-icons" style="color: white">assignment_ind</span>
    Profile
  </a>
  <a mat-list-item><span class="material-icons" (click)="onAddAdvert()">post_add</span>Add advert</a>
  <button (click)="onAddAdvert()"></button>
</mat-nav-list>
